.search-section {
    width: 100%;
    align-items: center;
    text-align: center;
}

.head-section {
    width: 90%;
    align-items: center;
    text-align: center;
    margin: auto;
}

.section-about {
    width: 80%;
    align-items: center;
    text-align: center;
    margin: 30px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.section-about p {
    width: 75%;
    font-weight:bolder;
    font-size:20px;
    padding-top:20px;

}

.section-about h1 {
    font-weight:bolder;
    padding-bottom: 20px;
    font-size: 26px;
}

.section-about h3 {
    font-weight:bolder;
    padding-top:20px;
    width: 75%;
    font-size: 34px;
}

.section-a {
    width: 90%;
    align-items: center;
    text-align: center;
    margin: 10px auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-b {
    width: 90%;
    align-items: center;
    text-align: center;
    margin: 30px auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-b p {
    width: 80%;
    font-weight:bolder;
    font-size:20px;
    padding-top:20px;
}

.section-b h1 {
    font-weight:bolder;
    padding-bottom: 20px;
}

.section-b h3 {
    font-weight:bolder;
    padding-top:20px;
}

.section-b h5 {
    font-size: 2.5rem;
}

.section-c {
    width: 90%;
    align-items: center;
    text-align: center;
    margin: 10px auto;
}
/* we sell premium domains... */
.top-bar {
    width: 90%;
    align-items: center;
    text-align: center;
    margin: 35px auto;
}

.top-bar h4 {
    font-size: 22px;
}

.btn-group button {
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 200px;
    background-color: #717fe0; /* Green background */
    border: 2px solid black; /* Green border */
    color: white; /* White text */
    padding: -10px 10px 10px 10px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    height: 50px; /* Set a width if needed */
     /* Make the buttons appear below each other */
    margin: 20px 5px 20px 5px;
    box-shadow: 5px 10px 18px rgb(119, 46, 202);
}


.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

  /* Add a background color on hover */
.btn-group button:hover {
    background-color: orange;
}

.card-bodyex {
    background-color: white;
    width: 100%; /*bottom portion of card main text field*/
}

.card-img-topex {
    width: 100%;
    height: 100%;
}

.column-ex {
    float: center;
    width: 100%;
    padding: 0px 16px; /*100px 1px 10px 200px;*/
}

.rowex {
    display:inline-block;
    margin: 0 -5px;
}

.rowex:after {
    content: "";
    display: inline-block;
    clear: both;
}

.w3-container {
    background: powderblue;
    width: 90%;
    justify-content: center;
    text-align: center;
}

.w3-container h1{
    padding-top: 20px;
    font-size:24px;
    font-weight: bolder;
}

.w3-container h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size:18px;
    font-weight: bolder;
}

.w3-container button {
    display: inline-block;
    float: left;
    clear: right;
    justify-content: center;
    font-size: 18px;
    font-weight: bolder;
    height: 100px;
    width: 250px;
}

.w4-container {
    background: powderblue;
    width: 90%;
    height: 50%;
    justify-content: center;
    text-align: center;
}

.w4-container button {
    display: inline-block;
    float: right;
}

.footer-container {
    width: 90%;
    margin: auto;
    text-decoration: none;
}

.footer-body {
    width: 90%;
    margin: auto;
    text-decoration: none;
    display: flexbox;
}

.footer-desc p {
    width: 70%;
    margin: 15px auto;
    color: orange;
    font-size: 1.5rem;
}

.footer-desc .upperclass {
    color: orange;
}

.footer .rounded-full:hover {
    color: orange;
}

.list-none a{
    margin: 25px;
    display: block;
    text-align: center;
    float: center;
    clear: right;
    clear: left;
    font-size: 0.8rem;
}

.list-none a:hover {
    color: orange;
}

.container-contact {
    width: 50%;
    height: 530px;
    justify-content: space-between;
    margin: 20px 0px 0px 0px;
    border-radius: 5px;
    background-color: powderblue;
    padding: 10px;
    box-shadow: 12px 12px 12px purple;
}

.container-contact select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 0px; /* Add a top margin */
    margin-bottom: 10px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.container-contact label {
    padding: 12px 12px 12px 0;
    width: 100%;
    display: inline-block;
}

.container-contact input[type=submit] {
    background-color: purple;
    color: white;
    padding: 12px 20px 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.container-contact input[type=text] {
    padding: 10px 10px 10px 10px;
    border: none
    border-radius: 4px;
    cursor: pointer;
    width: 60%;
}

.container-contact input[type=email] {
    padding: 10px 10px 10px 10px;
    border: none
    border-radius: 4px;
    cursor: pointer;
    width: 60%;
}

.container {
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
    justify-content: center;

}
/* app/domain page details containers 'flippa' */

.container-details {
    display: flex;
    width: 2000px;
    height: auto;
    margin: auto;
    justify-content: center;
    cursor: default;
}

.container-details img {
    width: 30%;
    height: 80%;
    float: left;
    margin: 15px;
}

.container-details .box {
    width: 1500px;
    margin: 30px;
    box-shadow: 15px 15px powderblue;
    cursor: default;
}

.container-details .box:hover {
    box-shadow: 15px 15px powderblue;
}

.container-details p {
    font-size: 18px;
}

.container-details h3 {
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: bolder;
    align-items: left;
    justify-content: left;
    margin: 10px;
    float: left;
}

.container-details .row {
    display: flex;
    justify-content: left;
    align-items: left;
}

.container-details .column {
    float: left;
    justify-content: left;
    align-items: left;
    margin: 30px auto;
}

.details-header h1 {
    font-size: 22px;
    color: orange;
    font-weight: bolder;
    margin: auto;
    clear: right;
    clear: left;
    float: center;
}

.container-details h4 {
    float: left;
    clear: left;
    clear: right;
    justify-content: left;
    align-items: left;
    font-size: 14px;
    color: purple;
    font-weight: bolder;
}

.container-details .da-description h5 {
    margin: 0px 5px 0px 0px;
    padding-left: 20px 20px 20px 20px;
    color: purple;
    font-weight: bolder;
}

.container-details .da-description p {
    color: purple;
    justify-content: left;
    align-items: left;
    width: 35%;
    float: left;
    margin: 20px;
    text-align: left;
}

.container-details .listing-link {
    background-color: purple;
    color: white;
    font-size: 22px;
    clear: right;
    float: right;
    margin: 30px 20px 20px 20px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 10px 10px grey;
}

.container-details .listing-link:hover {
    background-color: orange;
}

.container-details .track {
    background-color: orange;
    color: white;
    font-size: 22px;
    border-radius: 10px;
    padding: 5px;
    clear: left;
    float: right;
    box-shadow: 5px 5px grey;
}

.container-details .track:hover {
    background-color: purple;
}

/*end flippa cards section */

.containert {
    display: flex;
    width: 85%;
    height: auto;
    margin: auto;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
}

.containert h4 {
    font-size: 24px;
    font-weight: bolder;
    color: purple;
}

.containery {
    display: flex;
    width: 85%;
    height: auto;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    cursor: default;
}

.containery a {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    margin: auto;
    padding-bottom: 30px;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
}

.containery p {
    padding-top:10px;
    padding-bottom:10px;
    color: purple;
    font-size: 20px;
    line-height: 1.7em;
}

.containery h3 {
    padding-top:10px;
    padding-bottom:30px;
    color: purple;
    font-size: 24px;
    font-weight: bolder;
}

.containery .box:hover {
    box-shadow: 8px 8px 8px powderblue;
    cursor: default;
}

.containerz {
    display: flex;
    width: 90%;
    height: auto;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content:center;
}

.container-table {
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.site-search {
    background-color: purple;
    width: 450px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

form.site-search {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 20px 20px 20px 20px;
}

form.site-search input[type=text] {
    height: 40px;
    width: 100%;
    float: center;
    font-size: 12px;
    padding: 0px 10px 0px 10px;
    border: 2px grey;
    margin-left: 15px;
}

form.site-search button {
    float: right;
    width: 80%;
    padding: 20px;
    color: white;
    font-size: 36px;
    cursor: pointer;
}

form.site-search::after {
    content: "";
    clear: both;
    display: table;
}

.box{
    width: 32%;
    height: auto;
    border: 1px solid #ccc;
    margin-right: 1%;
    margin-left: 1%;
    background: white;
    border-radius: 10px;
    transition: 0.9;
}

.box:hover{
    box-shadow: 0 0 11px rgba(250, 250, 250, 0.5);
    cursor: pointer;
}

img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h3,p{
    text-align: center;
    color: rgb(104, 92, 92);
}

p{
    font-size: 15px;
    padding: 0 5px;
}

/* Add a black background color to the top navigation */
.topnav {
    width: 90%;
    display: block;
    align-items: center;
    justify-content: center;
    margin:auto;
    padding-top: 10px;
    padding-bottom: 10px;
 }

.topnav li {
    float: center;
    background-color: transparent;
    display:inline;
    padding-bottom: 10px;
}

  /* Style the links inside the navigation bar */
.topnav a {
    color: purple;
    padding: 0px 40px 50px 40px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bolder;
    display:inline-block;
    margin: auto;

}

  /* Change the color of links on hover */
.topnav a:hover {
    background-color: transparent;
    color: orange;
}

  /* Add a color to the active/current link */
.topnav a.active {
    background-color: purple;
    color: white;
}

.search-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

//FAQ collapsible controls

.primary{
    display : flex !important;
    order : inherit !important;
    flex-direction: column;
}

input[type='checkbox'] {
    display: none;
}

.wrap-collabsible {
    width: 75%;
    margin: 10px auto;
    font-size: 22px;
}

.content-inner h5{
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    font-weight: bolder;
}

.content-inner p{
    width: 70%;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.lbl-toggle {
        display: block;
        font-weight: bold;
        text-align: center;
        padding: 1rem;
        color: purple;
        cursor: pointer;
        border-radius: 7px;
        transition: all 0.25s ease-out;
        font-size: 26px;
}

.lbl-toggle:hover {
        color: #FFF;
}

.lbl-toggle::before {
        content: ' ';
        display: inline-block;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid currentColor;
        vertical-align: middle;
        margin-right: .7rem;
        transform: translateY(-2px);
        transition: transform .2s ease-out;
}
.toggle:checked+.lbl-toggle::before {
        transform: rotate(90deg) translateX(-3px);
}
    .collapsible-content {
        max-height: 0px;
        overflow: hidden;
        transition: max-height .25s ease-in-out;
    }

    .toggle:checked + .lbl-toggle + .collapsible-content {
        max-height: 100vh;
}
.toggle:checked+.lbl-toggle {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
        color: purple;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px; padding: .5rem 1rem;
}

.collapsible-content p {
        margin-bottom: 0;
}

.hamburger {
    display: none;
}

.fa {
    color: #FFFFFF;
    padding-right: 10px;
    padding-top: 5px;
}

.table {
    background-color: dodgerblue;
    color: purple;
}

.user-login {
    padding-left: 1950px;
}

.user-login:hover {
    text-decoration: orange;
}

.user-register {
    color: orange;
}

.dashboard {
    padding-left: 2000px;
}

.dashboard:hover {
    color: orange;
}

.domains-table {
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #717fe0;
    width: 50%;
    height: 300px;
    border-radius: 10px;
    color: white;
    padding-top: 10px;
    font-size: 18px;
    font-weight: bolder;
}

.domains-table h3 {
    color: white;
    padding-bottom: 20px;
    font-size: 22px;
}

.domains-table input[type=submit] {
    background-color: orange;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bolder;
}

.domains-table input[type=submit]:hover {
    background-color: powderblue;
}

.domains-table input[type=text], input[type=number] {
    color: purple;
    margin-top: 15px;
}

#navbar-collapse ul {
    list-style-type: none;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a, .dropbtn {
    color: powderblue;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: powderblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px purple;
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 16px;
}

.dropdown-content a:hover {background-color: #717fe0;;}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: powrderblue;
}

/*inventory table main css*/

table {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    float: center;
    border-collapse: collapse;
    min-width: 50%;
    max-width: 60%;
    grid-template-columns:
      minmax(150px, 1fr)
      minmax(350px, 1.67fr)
      minmax(250px, 2.00fr)
      minmax(85px, 1.67fr)
      minmax(150px, 3.33fr)
      minmax(150px, 1.67fr)
      minmax(150px, 3.33fr)
      minmax(150px, 1.67fr);
}

thead,
tbody,
tr {
    display: contents;
}

th,
td {
    padding: 5px 0px 5px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 5px;
    text-align: center;
    font-size: 0.9rem;
}

th {
    position: sticky;
    top: 0;
    background: #717fe0;
    text-align: center;
    font-weight: normal;
    font-size: 1.5rem;
    color: white;
}

th:last-child {
    border: 0;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: purple;
    font-weight: bold;
}

tr:nth-child(even) td {
    background: #f8f6ff;
}

tr:nth-child(odd) td {
    background: lightgrey;
}

.section-inventory {
    width: 80%;
    align-items: center;
    margin: auto;
    font-size: 28px;
    padding-top: 30px;
}

.section-inventory h3 {
    color: purple;
    font-weight: bolder;
}

.table-search .fa-search {
    color: purple;
}

.section-quote {
    font-size: 36px;
    width: 90%;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
}

.section-quote h3 {
    font-size: 78px;
    font-weight: bolder;
    text-align: center;
}

.section-quote h6 {
    font-size: 16px;
    color: purple;
}

.section-quote p {
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
}

.section-quote button {
    background-color: purple;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.section-quote button:hover {
    background-color: orange;
}

.section-quote input[type="text"], input[type="number"] {
    display: inline-block;
    padding: 10px;
    width: 200px;
    font-size: 18px;
    float: left;
    margin-right: 20px;
    margin-left: 30px;
    margin-top: 20px;
}

.section-quote a {
    text-decoration: underline;
    color: purple;
}

.section-quote a:hover {
    color: orange;
}

.section-quote ::placeholder {
    color: purple;
    font-weight: bolder;
}

#myBtn {
    cursor: pointer;
    background-color: transparent;
    color: purple;
    float: center;
    text-align: center;
    align-items: center;
    margin-left: 440px;
    text-decoration: underline;
}

#myBtn:hover {
    color: orange;
}

@media (max-width: 600px){

.container{
        width: 100%;
}

.containery {
        width: 90%;
        display: block;
        align-items: center;
        justify-content: center;
}

    .section-a {
        font-size: 1px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

table {
    width: 50%;
}

.section-quote {
    width: 100%;
}

@media (max-width: 600px){
    .container{
        width: 85%;
        display: block;
    }

    .containery {
        width: 80%;
        display: block;
        align-items: center;
        justify-content: center;
    }

    .box{
        width: 100%;
        margin-bottom: 4%;
    }
}

@media (max-width: 700px){
    .container{
        width: 100%;
    }

    .containery {
        width: 90%;
        display: block;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    //contact form responsiveness
@media screen and (max-width: 600px) {
    .container-contact {
        width: 30%;
        height: 530px;
        justify-content: space-between;
        margin: 0px 0px 0px 0px;
        border-radius: 5px;
        background-color: powderblue;
        padding: 10px;
    }


